@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');


* {
  box-sizing: border-box;
  font-family: "Sniglet", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}